# Development stage environment variables
NEXT_PUBLIC_STAGE=dev
WEB_DOMAIN_NAME=ww.dev.agent.innovision.systems
AWS_ACCESS_KEY_ID=changeme-dev
AWS_SECRET_ACCESS_KEY=changeme-dev
AWS_REGION=ap-southeast-2
